{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<iframe src="{% static 'build/index.html' %}" width="100%" height="800" frameborder="0" allowfullscreen="true"
        allow="fullscreen"></iframe>
<script>
 // Disable right-click context menu
    window.addEventListener('contextmenu', function (e) {
        e.preventDefault();
    });

    // Disable keyboard shortcuts for developer tools
    window.addEventListener('keydown', function (e) {
        if (e.keyCode == 123 || (e.ctrlKey && e.shiftKey && e.keyCode == 73)) {
            e.preventDefault();
        }
    });

    // Disable the F12 key
    window.addEventListener('keydown', function (e) {
        if (e.keyCode == 123) {
            e.preventDefault();
        }
    });

    // Warn the user in the console
    console.log('This is a restricted area. Unauthorized access is prohibited.');    
</script>
