{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Running Pops</title>
    <!-- Latest compiled and minified CSS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>


</head>
<body class="about_body">
<div class="about_desktop">
    <div class="container-fluid about_hero">
        <div class="row about_hero_main_row">
            <div class="col-md-3">
                <img src="{% static 'images/about/desktop/Jatpack_Popsi.png' %}">
            </div>
            <div class="col-md-9">
                <img src="{% static 'images/about/desktop/a little bit of history.png' %}" style="height: 10vh">
                <h2 style="text-align: start; margin-top: 20px;font-size: 20px;width: 90%">
                    A Little Bit Of History Running Pops, a game developed and designed by Game Hype, was launched on
                    iOS
                    and Android in November 2022, garnering an impressive 300k overall downloads. Now, with the
                    transition
                    to Web3, users will have the exciting opportunity to play with their NFTs directly within the game.
                    Through a transformative process, the 2D NFTs will be brought to life in a 3D format, enabling
                    players
                    to fully immerse themselves in the gameplay experience. Get ready to take your NFTs for a run in the
                    world of Running Pops!
                </h2>
                <div class="d-flex justify-content-center" style="margin-top: 50px">
                    <button class="about_play_button" onclick="location.href='{% url 'tournament' %}';">Play Now
                    </button>
                    <button class="about_download_button">Download Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="about_tournament_row">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <img src="{% static 'images/about/desktop/tournaments.png' %}"/>
            </div>
        </div>
        <br/>
        <div class="row" style="padding: 30px ">
            <div class="col-md-6 d-flex justify-content-end align-items-center" style="padding-left: 30px">
                <img src="{% static 'images/about/desktop/3rd_screen/call.png' %}"/>
            </div>
            <div class="col-6 about__div">
                <div class="row">
                    <div class="col-md-3 about_div_text" style="border-right: 2px solid #000"><p>NOVEMBER 2022 - <br/>
                        JAN 2023</p>
                        <span>THE WORLD CUP</span>
                    </div>
                    <div class="col-md-9 about_div_text_detail">
                        <p>The 2022 World Cup tournament drew 90k players, each representing their favorite teams total
                            of $15k in prizes was distributed to the winners, amplifying the excitement of the
                            event.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 about_div_text" style="border-right: 2px solid #000"><p>FEBRUARY 2023 - <br/>
                        MAY 2023</p>
                        <span>THE RUNWAY 2.0</span>
                    </div>
                    <div class="col-md-9 about_div_text_detail">
                        <p>
                            By integrating NFTs and crypto prizes, our game, We achieved tremendous success with 100k
                            new players. The average conversion rate of players to buyers reached 8%, intensifying the
                            competition. Additionally, our webinars introduced the community to Web3 technology, further
                            enhancing their engagement
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 about_div_text" style="border-right: 2px solid #000"><p>JUNE 2023</p>
                        <span>THE RUNWAY 3.0</span>
                    </div>
                    <div class="col-md-9 about_div_text_detail">
                        <p>Runaway 3.0 is a Web3 tournament where NFT communities compete for big Matic prizes Top 5
                            players win Matic rewards with exciting updates and new features on the way Get ready for an
                            epic gaming experience!

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 about_div_text" style="border-right: 2px solid #000"><p>July 2023</p>
                        <span>Web 3, Season 1</span></li>
                    </div>
                    <div class="col-md-9 about_div_text_detail">
                        <p>
                            launched in July, included 20 collections from the Polygon ecosystem, where they played
                            against each other to win 20,000 MATIC, and individuals played to win prizes ranging from
                            500 MATIC to 10,000 MATIC. On average, users played for 2.5 hours, and we attracted more
                            than 20,000 players in the first season.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 about_div_text" style="border-right: 2px solid #000"><p>September 2023</p>
                        <span>The Future 4.0</span></li>
                    </div>
                    <div class="col-md-9 about_div_text_detail">
                        <p>
                            The Future, Season 2 is set to launch in September with over 40+ communities from different
                            chains on board, introducing multiplayer head-to-head features, and a brand new user
                            experience. And that's not all – the community prize for Season 2 is 1 BTC. After our
                            minting process, every user claiming their 3D NFT will be allowed to play with the NFT,
                            level it up, and sell it on the secondary market.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_mobile">
    <div class="container-fluid about_hero_mobile">
        <div class="row about_hero_main_row">
            <div class="col-md-12 d-flex justify-content-center" style="margin-top: 30px">
                <img style="height: 40vh" src="{% static 'images/about/mobile/Jatpack_Popsi.png' %}">
            </div>
            <div class="col-md-12">
                <img src="{% static 'images/about/mobile/a little bit of history.png' %}" style="height: 3vh">
                <h2 style="text-align: start; margin-top: 20px;font-size: 12px;width: 90%">
                    A Little Bit Of History Running Pops, a game developed and designed by Game Hype, was launched on
                    iOS
                    and Android in November 2022, garnering an impressive 300k overall downloads. Now, with the
                    transition
                    to Web3, users will have the exciting opportunity to play with their NFTs directly within the game.
                    Through a transformative process, the 2D NFTs will be brought to life in a 3D format, enabling
                    players
                    to fully immerse themselves in the gameplay experience. Get ready to take your NFTs for a run in the
                    world of Running Pops!
                </h2>
                <div class="d-flex justify-content-center" style="margin-top: 50px">
                    <button class="about_play_button" onclick="location.href='{% url 'tournament' %}';">Play Now
                    </button>
                    <button class="about_download_button">Download Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="about_tournament_row_mobile">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <img style="height: 4vh" src="{% static 'images/about/mobile/tournaments.png' %}"/>
            </div>
        </div>
        <br/>
        <div class="row" style="padding: 30px ">
            <div class="col-12" style="padding-left: 30px">
                <img style="height: 25vh" src="{% static 'images/about/desktop/3rd_screen/call.png' %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-3 about_div_text" style="border-right: 2px solid #000"><p>NOVEMBER 2022 - <br/> JAN 2023
            </p>
                <span>THE WORLD CUP</span>
            </div>
            <div class="col-9 about_div_text_detail">
                <p>The 2022 World Cup tournament drew 90k players, each representing their favorite teams total
                    of $15k in prizes was distributed to the winners, amplifying the excitement of the
                    event.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 about_div_text" style="border-right: 2px solid #000"><p>FEBRUARY 2023 - <br/> MAY 2023
            </p>
                <span>THE RUNWAY 2.0</span>
            </div>
            <div class="col-9 about_div_text_detail">
                <p>
                    By integrating NFTs and crypto prizes, our game, We achieved tremendous success with 100k
                    new players. The average conversion rate of players to buyers reached 8%, intensifying the
                    competition. Additionally, our webinars introduced the community to Web3 technology, further
                    enhancing their engagement
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 about_div_text" style="border-right: 2px solid #000"><p>JUNE 2023</p>
                <span>THE RUNWAY 3.0</span>
            </div>
            <div class="col-9 about_div_text_detail">
                <p>Runaway 3.0 is a Web3 tournament where NFT communities compete for big Matic prizes Top 5
                    players win Matic rewards with exciting updates and new features on the way Get ready for an
                    epic gaming experience!

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 about_div_text" style="border-right: 2px solid #000"><p>July 2023</p>
                <span>Web 3, Season 1</span></li>
            </div>
            <div class="col-9 about_div_text_detail">
                <p>
                    launched in July, included 20 collections from the Polygon ecosystem, where they played
                    against each other to win 20,000 MATIC, and individuals played to win prizes ranging from
                    500 MATIC to 10,000 MATIC. On average, users played for 2.5 hours, and we attracted more
                    than 20,000 players in the first season.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 about_div_text" style="border-right: 2px solid #000"><p>September 2023</p>
                <span>The Future 4.0</span></li>
            </div>
            <div class="col-9 about_div_text_detail">
                <p>
                    The Future, Season 2 is set to launch in September with over 40+ communities from different
                    chains on board, introducing multiplayer head-to-head features, and a brand new user
                    experience. And that's not all – the community prize for Season 2 is 1 BTC. After our
                    minting process, every user claiming their 3D NFT will be allowed to play with the NFT,
                    level it up, and sell it on the secondary market.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>