{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Running Pops</title>
    <!-- Latest compiled and minified CSS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>


</head>
<body class="action_body">
<div class="action_desktop">
    <div class="container-fluid action_hero_div">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <img src="{% static 'images/action/desktop/1st/Layer 2.png' %}">
                <h2 style="position:absolute; top: 125px; color: white">WEBS & NFT PROJECTS<br/> DOESN'T HAVE
                    UTILITIES...
                </h2>
            </div>
        </div>
        <div class="row" style="padding: 30px 0px">
            <div class="col-6 d-flex justify-content-end" style="margin-top: 30px">
                <img src="{% static 'images/action/desktop/1st/scroll.png' %}" style="height: 150px"/>
            </div>
            <div class="col-6">
                <img src="{% static 'images/action/desktop/1st/popsy 1.png' %}"
                     style="height: 250px; margin-left: 30px"/>
            </div>
        </div>

    </div>
    <div class="container-fluid action_evalution_div">
        <div class="row" style="padding: 40px 0px;">
            <div class="col-6 d-flex justify-content-end">
                <img src="{% static 'images/action/desktop/2nd/cloud1.png' %}">
            </div>
            <div class="col-6 d-flex justify-content-center">
                <img src="{% static 'images/action/desktop/2nd/cloud1.png' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-2 d-flex align-items-end">
                <img src="{% static 'images/action/desktop/2nd/popsy 3.png' %}">
            </div>
            <div class="col-8">
                <div class="row" style="padding: 40px 0px;">
                    <div class="col-12 d-flex justify-content-center">
                        <img style="height: 35px"
                             src="{% static 'images/action/desktop/2nd/Game Evolution During Q3 & Q4.png' %}">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h2 style="font-size: 20px">
                            Running Pops, the upcoming tournaments, will feature exhilarating levels for players to
                            conquer.
                            It
                            offers a thrilling multiplayer experience where participants can go head-to-head, vying for
                            victory
                            while earning valuable in-game Matic. The best part? Running Pops will always remain free to
                            play,
                            with
                            the chance to earn prizes. Additionally, there will be optional entry fees for tournaments
                            that
                            offer
                            higher-value rewards.<br/>
                            Our objective for Q4 is to enhance the game by integrating superpowers like energy, agility,
                            speed,
                            and
                            flexibility into each character. This will enable players to upgrade their characters and
                            acquire
                            various digital traits, the reby increasing the characters' value. Moreover, users will have
                            the
                            option
                            to trade their characters on the secondary market, adding another layer of excitement and
                            opportunity
                        </h2>

                    </div>
                </div>
            </div>
            <div class="col-2 d-flex align-items-end">
                <img src="{% static 'images/action/desktop/2nd/popsy 23.png' %}">
            </div>
        </div>

    </div>
    <div class="container-fluid action_development_div">
        <div class="row development_div">
            <div class="col-12 d-flex justify-content-center">
                <img style="height: 7vh" src="{% static 'images/action/desktop/3rd/In Game Development.png' %}">
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-3">
                    <h2 style="font-size: 20px">
                        July 2023-<br/> September 2023
                    </h2>
                </div>
                <div class="col-9">
                    <h3 style="font-size: 16px">
                        Airdropping the pre-sale holders their 3D NFT characters from different collections will allow
                        them
                        to play with their own NFTs within the game. This exciting feature will be implemented in July,
                        coinciding with the introduction of the multiplayer version and the inclusion of various
                        character
                        powers in August & September
                    </h3>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-3">
                    <h2 style="font-size: 20px">
                        August 2023
                    </h2>
                </div>
                <div class="col-9">
                    <h3 style="font-size: 16px">
                        Introducing our Stick NFT Mint! When users mint this stick, it will enable them to transform
                        their
                        2D character into a 3D version, allowing them to play within the game, upgrade their character
                        with
                        powers, and even access the secondary market for selling opportunities.
                        <br/>
                        Holders of this stick will also have the exciting opportunity to redeem their Running Pops Tasty
                        Pack in real life. The Tasty Pack includes a year's supply of ice cream, complete with receipts
                        and
                        equipment.
                        <br/>
                        Additionally, 10 lucky holders will find a free trip to NFT NYC 2024, including full board.
                        within
                        their pack
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid action_bottom_div">
        <div class="row">
            <div class="col-12 d-flex justify-content-center" style="padding: 50px">
                <img height="400px" src="{% static 'images/action/desktop/4th/Layer 3.png' %}">
            </div>
        </div>
    </div>
</div>
<div class="action_mobile">
    <div class="container-fluid action_hero_div">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <img style="height: 100px" src="{% static 'images/action/desktop/1st/Layer 2.png' %}">
                <h2 style="position:absolute; top: 45px;font-size: 14px; color: white">WEBS & NFT PROJECTS<br/> DOESN'T
                    HAVE
                    UTILITIES...
                </h2>
            </div>
        </div>
        <div class="row" style="padding: 30px 0px">
            <div class="col-12 d-flex justify-content-center">
                <img src="{% static 'images/action/desktop/1st/popsy 1.png' %}"
                     style="height: 160px; margin-left: 30px"/>
            </div>
            <div class="col-12 d-flex justify-content-center" style="margin-top: 30px">
                <img src="{% static 'images/action/desktop/1st/scroll.png' %}" style="height: 100px"/>
            </div>

        </div>

    </div>
    <div class="container-fluid action_evalution_div" style="margin-top: -2px;margin-left: -2px">
        <div class="row" style="padding: 40px 0px;">
            <div class="col-4 d-flex justify-content-end align-items-end">
                <img src="{% static 'images/action/desktop/2nd/cloud1.png' %}" style="height: 50px">
            </div>
            <div class="col-4 d-flex justify-content-center">
                <img src="{% static 'images/action/desktop/2nd/popsy 23.png' %}" style="height: 150px">
            </div>
            <div class="col-4 d-flex justify-content-center align-items-end">
                <img  src="{% static 'images/action/desktop/2nd/cloud1.png' %}" style="height: 50px">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row" style="padding: 40px 0px;">
                    <div class="col-12 d-flex justify-content-center">
                        <img style="height: 20px"
                             src="{% static 'images/action/desktop/2nd/Game Evolution During Q3 & Q4.png' %}">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h2 style="font-size: 14px;text-align: center">
                            Running Pops, the upcoming tournaments, will feature exhilarating levels for players to
                            conquer.
                            It
                            offers a thrilling multiplayer experience where participants can go head-to-head, vying for
                            victory
                            while earning valuable in-game Matic. The best part? Running Pops will always remain free to
                            play,
                            with
                            the chance to earn prizes. Additionally, there will be optional entry fees for tournaments
                            that
                            offer
                            higher-value rewards.<br/>
                            Our objective for Q4 is to enhance the game by integrating superpowers like energy, agility,
                            speed,
                            and
                            flexibility into each character. This will enable players to upgrade their characters and
                            acquire
                            various digital traits, the reby increasing the characters' value. Moreover, users will have
                            the
                            option
                            to trade their characters on the secondary market, adding another layer of excitement and
                            opportunity
                        </h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 40px 0px;">
            <div class="col-4 d-flex justify-content-end align-items-end">
                <img src="{% static 'images/action/desktop/2nd/cloud1.png' %}" style="height: 50px">
            </div>
            <div class="col-4 d-flex justify-content-center">
                 <img src="{% static 'images/action/desktop/2nd/popsy 3.png' %}" style="height: 110px">
            </div>
            <div class="col-4 d-flex justify-content-center align-items-end">
                <img src="{% static 'images/action/desktop/2nd/cloud1.png' %}" style="height: 50px">
            </div>
        </div>

    </div>
    <div class="container-fluid action_development_div">
        <div class="row development_div" style="padding: 50px 0px">
            <div class="col-12 d-flex justify-content-center">
                <img style="height: 10px" src="{% static 'images/action/desktop/3rd/In Game Development.png' %}">
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-4">
                    <h2 style="font-size: 10px">
                        July 2023-<br/> September 2023
                    </h2>
                </div>
                <div class="col-8">
                    <h3 style="font-size: 10px">
                        Airdropping the pre-sale holders their 3D NFT characters from different collections will allow
                        them
                        to play with their own NFTs within the game. This exciting feature will be implemented in July,
                        coinciding with the introduction of the multiplayer version and the inclusion of various
                        character
                        powers in August & September
                    </h3>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-4">
                    <h2 style="font-size: 10px">
                        August 2023
                    </h2>
                </div>
                <div class="col-8">
                    <h3 style="font-size: 10px">
                        Introducing our Stick NFT Mint! When users mint this stick, it will enable them to transform
                        their
                        2D character into a 3D version, allowing them to play within the game, upgrade their character
                        with
                        powers, and even access the secondary market for selling opportunities.
                        <br/>
                        Holders of this stick will also have the exciting opportunity to redeem their Running Pops Tasty
                        Pack in real life. The Tasty Pack includes a year's supply of ice cream, complete with receipts
                        and
                        equipment.
                        <br/>
                        Additionally, 10 lucky holders will find a free trip to NFT NYC 2024, including full board.
                        within
                        their pack
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid action_bottom_div" style="margin-top: -2px">
        <div class="row">
            <div class="col-12 d-flex justify-content-center" style="padding: 50px">
                <img height="150px" src="{% static 'images/action/desktop/4th/Layer 3.png' %}">
            </div>
        </div>
    </div>
</div>
</body>
</html>