{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta charset="UTF-8">
    <title>Running Pops</title>
    <!-- Latest compiled and minified CSS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>


</head>
<body class="home_body">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.com/invite/dWPxMfcWWU" target="_blank"><img
                            src="{% static 'images/main_screen/discord.png' %}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/runningpopsgame" target="_blank"><img
                            src="{% static 'images/main_screen/twitter.png' %}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/runningpopsgame" target="_blank"><img
                            src="{% static 'images/main_screen/instagram.png' %}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.tiktok.com/@runningpopsgame" target="_blank"><img
                            src="{% static 'images/main_screen/tiktok.png' %}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container desktop_container">
    <div>
{#        <div class="row hero_first_div">#}
{#            <div class="col-md-6" id="actionPlan">#}
{##}
{#            </div>#}
{#            <div class="col-md-6" id="playNow">#}
{##}
{#            </div>#}
{#        </div>#}
        <div class="row hero_first_div">
            <div class="col-md-4" id="cloud1">
                <img src="{% static 'images/main_screen/cloud1.png' %}">
                <img src="{% static 'images/APPLY.png' %}" style="margin-left: 50px;height: 20vh;"
                     onclick="location.href='{% url 'whitelist' %}';">
            </div>
             <div class="col-md-2 d-flex justify-content-end" id="playNow">
                <img style="height: 20vh" src="{% static 'images/main_screen/play now.png' %}"
                     onclick="location.href='{% url 'tournament' %}';">
            </div>
            <div class="col-md-4" id="cloud2">
                <img style="height: 20vh;margin-right: 40px" src="{% static 'images/main_screen/claim benifits.png' %}" onclick="location.href='{% url 'benefits' %}';"
                />
                <img src="{% static 'images/main_screen/cloud 2.png' %}">
            </div>
        </div>
        <div class="row hero_first_div">
            <div class="col-md-12" id="main_img">
                <img src="{% static 'images/main_screen/running pops.png' %}">
            </div>

        </div>
        <div class="row hero_first_div">
            <div class="col-md-4" id="download">
                <img style="height: 15vh" src="{% static 'images/main_screen/download now.png' %}">
            </div>
            <div class="col-md-4" id="claim_benefits">
                <img src="{% static 'images/main_screen/action plan.png' %}"
                     onclick="location.href='{% url 'action' %}';">
            </div>
            <div class="col-md-4 d-flex" id="about_us">
                <img src="{% static 'images/main_screen/Group 4.png' %}" onclick="location.href='{% url 'about' %}';">
                <img style="height: 40vh" id="police" src="{% static 'images/main_screen/police.png' %}">
            </div>
        </div>
    </div>
</div>
<div class="container mobile_container">
    <div>
        <div class="row hero_first_div">
            <div class="col-md-6 col-sm-6 col-xs-6" id="actionPlan_mobile">
                <img src="{% static 'images/main_screen/action plan.png' %}"
                     onclick="location.href='{% url 'action' %}';">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" id="playNow_mobile">
                <img src="{% static 'images/main_screen/play now.png' %}"
                     onclick="location.href='{% url 'tournament' %}';">
            </div>
        </div>
        <div class="row hero_first_div">
            <div class="col-md-6" id="cloud1_mobile">
                <img src="{% static 'images/main_screen/cloud1.png' %}">
            </div>
            <div class="col-md-6" id="cloud2_mobile">
                <img src="{% static 'images/APPLY.png' %}" style="margin-right50px;height: 10vh;"
                     onclick="location.href='{% url 'whitelist' %}';">
                <img src="{% static 'images/main_screen/cloud 2.png' %}">
            </div>
        </div>
        <div class="row hero_first_div">
            <div class="col-md-12" id="main_img_mobile">
                <img src="{% static 'images/main_screen/running pops.png' %}">
            </div>
        </div>
        <div class="row hero_first_div">
            <div class="col-md-4" id="download_mobile">
                <img src="{% static 'images/main_screen/download now.png' %}">
            </div>
            <div class="col-md-4" id="claim_benefits_mobile">
                <img src="{% static 'images/main_screen/claim benifits.png' %}" onclick="location.href='{% url 'benefits' %}';"
                >
            </div>
            <div class="col-md-4 d-flex" id="about_us_mobile">
                <img src="{% static 'images/main_screen/Group 4.png' %}" onclick="location.href='{% url 'about' %}';">
                <img style="height: 12vh" id="police_mobile" src="{% static 'images/main_screen/police.png' %}">
            </div>
        </div>
    </div>
</div>
<script>
    // Create a GSAP timeline
    var timeline1 = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true});
    var timeline2 = gsap.timeline();
    var timeline4 = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true});
    var timeline3 = gsap.timeline();
    let tl = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true})

    // Animation 1: Move #myElement1 to the right by 100 pixels over 1 second
    timeline1.to("#actionPlan", {y: 20, duration: 1});
    timeline2.to("#playNow", {x: 100, y: 20, duration: 1}, "-=0.5");
    timeline2.to("#cloud1", {y: 50, x: 100, duration: 1}, "-=0.5");
    timeline2.to("#cloud2", {y: 20, x: 200, duration: 1}, "-=0.5");
    tl.to("#police", {x: -100, y: -100, duration: 1,}, "-=0.5");
    timeline3.to("#claim_benefits", {x:50, y: -100, duration: 1}, "-=0.5");
    timeline3.to("#about_us", {y: -150, duration: 1}, "-=0.5");
    timeline3.to("#download", {y: -80, x: 200, duration: 1}, "-=0.5");
    timeline4.to("#main_img", {x: 50, duration: 1}, "-=0.5");
    {#timeline2.to("#main_img", {y: -100, duration: 1}, "-=0.5");#}

    {#    mobile screen#}

    var timeline_mobile1 = gsap.timeline();
    var timelinemobile2 = gsap.timeline();
    var timelinemobile4 = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true});
    var timelinemobile3 = gsap.timeline();
    let tlmobile = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true})

    // Animation 1: Move #myElement1 to the right by 100 pixels over 1 second
    timeline_mobile1.to("#actionPlan_mobile", {y: 80, duration: 1});
    timeline_mobile1.to("#playNow_mobile", {y: -70, duration: 1}, "-=0.5");
    timeline_mobile1.to("#cloud1_mobile", {y: 50, duration: 1}, "-=0.5");
    timeline2.to("#cloud2", {y: 20, x: 200, duration: 1}, "-=0.5");
    tlmobile.to("#police_mobile", {x: -40, y: -20, duration: 1,}, "-=0.5");
    timelinemobile3.to("#claim_benefits_mobile", {y: -50, duration: 1}, "-=0.5");
    timelinemobile3.to("#about_us_mobile", {y: -180, x: 10, duration: 1}, "-=0.5");
    {#timeline3.to("#download", {y: -100,x:-100, duration: 1}, "-=0.5");#}
    timelinemobile4.to("#main_img_mobile", {x: 20, duration: 1}, "-=0.5");

</script>
</body>
</html>