{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Running Pops</title>
    <!-- Latest compiled and minified CSS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>


</head>
<body class="whitelist_body">
<div>
    <div class="container ">
        <div class="row">
            <div class="col-md-12" id="magic_sticks">
                <img src="{% static 'images/whitelist/magic_sticks.png' %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="running_pops">
                <img src="{% static 'images/whitelist/BY.png' %}"/>
                <img id="running_pops_img" src="{% static 'images/whitelist/running_pops.png' %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="version">
                <img src="{% static 'images/whitelist/version.png' %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="form">
                <img src="{% static 'images/whitelist/submit_image.png' %}"/>
                {% if messages %}
                    <div class="alert alert-success">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form style="margin-top: 30px" action="{% url 'add-wallet' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="wallet" required class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Enter Wallet Address">
                    </div>


                    <button style="background: #d56c04;margin-top: 20px; border: none;box-shadow:-1px 2px 6px 3px hwb(0 0% 50% / 1);"
                            type="submit" class="btn btn-primary">Submit
                    </button>
                </form>
            </div>
            {#            <div class="col-md-6" id="main_element">#}
            {#                <img id="main_element_img" src="{% static 'images/whitelist/main_element.png' %}"/>#}
            {#            </div>#}
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end" id="swords">
                <img src="{% static 'images/whitelist/Inserted Image-1.png' %}"/>
                <img src="{% static 'images/whitelist/Inserted Image-3.png' %}"/>
                <img src="{% static 'images/whitelist/Inserted Image-2.png' %}"/>
                <img src="{% static 'images/whitelist/Inserted Image.png' %}"/>


            </div>
        </div>


    </div>
</div>

<script>
    var timeline1 = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true});
    var timeline2 = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true});
    var timeline3 = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true});
    var timeline4 = gsap.timeline({repeat: -1, repeatDelay: 1, yoyo: true});
    timeline1.to("#running_pops_img", {x: 20, duration: 1});
    timeline2.to("#main_element_img", {y: -100, duration: 1});
    timeline3.to("#swords", {opacity: 0, duration: 1});
    timeline4.to("#background_mountain", {opacity: 0, duration: 1});
    // Get a reference to the element you want to fade out
    const elementToFadeOut = document.getElementById('elementToFadeOut');

    // Create a GSAP timeline
    const tl = gsap.timeline();

    // Add a fade-out animation to the timeline
    tl.to(elementToFadeOut, {
        opacity: 0, // Set the target opacity to 0 (fully transparent)
        duration: 1, // Animation duration in seconds
        onComplete: () => {
            // Optional callback function to execute when the animation is complete
            console.log('Fade-out animation complete');
        },
    });

</script>

</body>
</html>